//@theme "/home/dt/.local/share/rofi/themes/cat2.rasi"
@theme "/home/dt/.config/rofi/spotlight.rasi"
/* @theme "/home/dt/.config/rofi/cherry.rasi" */
//@theme "/home/dt/.local/share/rofi/themes/spotlight.rasi"
//@theme "/home/dt/.local/share/rofi/themes/tokyonight.rasi"
/* //@theme "/usr/share/rofi/themes/dmenu.rasi" */
//@theme "/usr/share/rofi/themes/sidebar.rasi"
//@theme "/usr/share/rofi/themes/dmenu.rasi"
